<div class="container">
  <h2 class="mb-5 text-center">Add Post about your Blog</h2>
  <div class="row">
    <div class="col col-lg-4"></div>
    <div class="col col-lg-4">
      <form [formGroup]="userForm" (ngSubmit)="submit(userForm.value)" novalidate>

        <div class="form-group">
          <label><b>Title</b></label>
          <input type="text" class="form-control inputStyle" formControlName="title"
            [ngClass]="{ 'is-invalid': f.title.touched && f.title.errors }">
          <div *ngIf="f.title.touched && f.title.errors?.required" class="invalid-feedback">
            Title is required
          </div>

          <div class="form-group">
            <label><b>Content</b></label>
            <textarea type="text" rows="5" cols="5" class="form-control" formControlName="content"
              [ngClass]="{ 'is-invalid': f.content.touched && f.content.errors }">
        </textarea>
            <div *ngIf="f.content.touched && f.content.errors?.required" class="invalid-feedback">
              Content is required
            </div>
          </div>

          <div class="form-group">
            <label><b>Upload Image</b></label>
            <div>
              <input (change)="onFileSelect($event)" type="file" />
            </div>
            <div *ngIf="imageData" >
              <br>
              <img [src]="imageData" [alt]="userForm.value.title" style="height: 150px; width:150px"/>
            </div>
          </div>

   <button class="btn btn-danger btn-block" type="submit" [disabled]="!userForm.valid">Submit</button>
         </div>
      </form>
    </div>
    <div class="col col-lg-4"></div>
  </div>
</div>
