<div class="container">
  <div class="row">
    <div class="col col-lg-12 mt-5 mb-5">
      <div id="accordion">
        <div *ngFor="let post of posts;" class="mx-1" style="width:32%; display: inline-block; text-align: center">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <div class=" text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  {{post.title}}
                </div>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show text-center" aria-labelledby="headingOne"
              data-parent="#accordion">
              <div class="card-body">
                <b><label>Blog Content</label></b>
                <br>
                {{post.content}}
                <br>
                <b><label>Blog ID</label></b>
                <br>
                {{ post._id}}
                <br>
              <b><label>Blog Picture</label></b>
              <br>
              <img src="{{baseUrl + post.image }}" style="height: 100px; width: 100px;" alt="Blog image">
            </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
  </div>
