<div class="container">
  <div class="row">
    <div class="col col-lg-4"></div>
    <div class="col col-lg-4 mt-5 mb-5">
      <div id="accordion">
        <div *ngFor="let post of posts;">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <div class=" text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                {{post.title}}
            </div>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show text-center" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <b><label>Blog Content</label></b>
             <br>
             {{post.content}}
             <br>
             <b><label>Blog ID</label></b>
             <br>
             <span>{{ post._id}}</span>
            </div>
            <b><label>Blog Picture</label></b>
            <br>
            <img src="{{baseUrl + post.image }}" style="height: 100px; width: 100px;"alt="Blog image">
            <br><br>
            <button type="button" class="btn btn-danger ml-2 mb-2 text-center" (click)="removePost(post._id)">Delete</button>
            <button type="button" class="btn btn-primary ml-2 mb-2 text-center">Edit</button>
          </div>
          <br>
        </div><br>
      </div>

    </div>
    <div class="col col-lg-4"></div>
  </div>
</div>
